@import "./variables.scss";
body {
  font-family: Arial, sans-serif;
}

.header-nav {
  background-color: $white;
}
.star-image {
  color: $primary-light;
}
.post-job-btn {
  background-color: $primary;
  color: $white;
}
.top-bar {
  background-color: $white;
  padding: 16px 0;
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.nav-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.nav-item .labels {
  color: $grey55;
}
.search-section {
  background-image: url(../images/AJS-Hero-Desktop.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 80px 0;
  justify-content: center;
  color: $white;

  .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .search-heading {
    font-size: 40px;
    line-height: 1.25;
  }
  .custom-placeholder::placeholder {
    color: $nightLight; /* or any desired color */
    opacity: 1; /* This is needed to override the default opacity in some browsers */
  }
  .search-form {
    // display: flex;
    // flex-direction: ;
  }
}
.submit-btn {
  background-color: $secondary;
  color: $white;
}
.latest-jobs-section {
  background-color: $night;
  color: $white;
  justify-content: center;
  align-items: center;
}
.chips {
  font-size: 1em;
  background-color: $white;
  color: $primary-light;
  padding: 8px 12px;
}
.dropdown-btn {
  background-color: $night;
  color: $white;
  border: none;
}
.card-content {
  color: $white;
  background-color: $night;
}
.number-one-section {
  background-color: $day;
}

.latest-job-heading {
  font-size: 28px;
  color: $night;
  font-weight: 100;
  margin-bottom: 0;
}
footer {
  background-color: $night;
  a {
    font-size: 14px;
  }
}
.copyright {
  background-color: $nightDark;
}
.image-size {
  width: 80px;
  height: 80px;
}
.promo-blocks {
  width: 320px;
  h5 {
    font-weight: 600;
    color: $night;
  }
  .card-text {
    color: $grey55;
    font-size: 16px;
    height: 96px;
  }
}
.content-block {
  .card-body {
    min-height: 263px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-img-top {
    min-height: 263px;
  }
  .card-text {
    font-size: 14px;
  }
}
.carousel-inner {
  height: 300px;
  img {
    height: 300px;
  }
}
.cv-tips-btn {
  background-color: $white;
  border: 1px solid $primary;
  color: $primary;
}
.upload-btn {
  color: $white;
  background-color: $primary;
}
//Mobile Devices
@media screen and (max-width: 768px) {
  .search-sub-heading {
    display: none;
  }
  .search-section {
    background-image: url("../images/AJS-Hero-Mobile.jpg");
  }
  .promo-blocks {
    width: 343px;
  }
}
