$primary-light: #1B8DDA;
$primary: #187DC1; //button color
$primaryDark: #10659E;
$secondaryLight: #F47562;
$secondary: #F2624C;
$secondaryDark: #D35441;
$dayLight: #E2F1FA;
$day: #C8E1F0;
$dayDark: #83C1E9;
$nightLight: #024E80;
$night: #023E66; //menu link, footer bg color, other bg colors
$nightDark: #012944;
$grey20: #333333; //text color
$grey29: #4a4b4b;
$grey45: #757575;
$grey55: #8D8D8D;
$grey70: #B3B3B3;
$grey80: #CCCCCC;
$grey90: #E6E6E6;
$grey94: #F0F0F0;
